.ProfileCard{
    height: 280px;
    width: 200px;
    align-items: center;
    border-radius: 20px;
}
.first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    color: white;
    h1{
        font-size: 20px;
    }
    p{
        font-size: bold;
    }
} 
.second{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    color: white;
    h1{
        font-size: 20px;
    }
    p{
        font-size: bold;
    }
} 
.third{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    color: white;
    h1{
        font-size: 20px;
    }
    p{
        font-size: bold;
    }
} 
.fourth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    color: white;
    h1{
        font-size: 20px;
    }
    p{
        font-size: bold;
    }
} 
.fifth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    color: white;
    h1{
        font-size: 20px;
    }
    p{
        font-size: bold;
    }
} 
.sixth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    color: white;
    h1{
        font-size: 20px;
    }
    p{
        font-size: bold;
    }
} 

